* {
  margin: 0;
  padding: 0;
}

/* adding cool stuff*/

 body  {
 	
 	font-size: 14px;
 	background: #FFF;
 	color: #191919;
     color: #fff; margin-top: 0;
 	background: linear-gradient(rgba(0,0,0,0.5),
 	 rgba(0,0,0,0.5)),
 	  url(http://www.riveredgeschoolsreach.com/uploads/2/8/6/4/2864765/4689385_orig.jpg);
     text-align: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 }
 
 a {
 	color:#00adff;
 	/*text-decoration:underline;*/
 }
 p {
 	font-size: 30px;
     line-height:140%;
     font-family: 'Anonymous Pro', ;
 	padding:10px 0 0 0;
 }
 h1 {
 	font-size:100px;
	color: red;
	
     font-family: 'Anonymous Pro', ;
 	padding:10px 0 0 0;
 }
 h2 {
 	font-size:24px;
 	color: red;
     font-family: 'Anonymous Pro', ;
 }*/
 .container { 
 	width: 960px;
 	margin: 0 auto;
 }
 header {
 	background:url(../images/siteBackground.jpg) repeat;
 	border-bottom:1px solid #c0dffb;
 	padding-bottom:30px;
 }
 .headerContainer {
 	width:960px;
 	margin:0 auto;
 } 
 header h1 {
 	float:left;
 	padding:20px 0 0 0;
 }
 header h1 a {
 	font-family: 'Anonymous Pro', ;
 	font-size: 42px;
 	color:whitesmoke;
 	text-decoration:none;
 }
.boxes {
	padding:30px 0;
}

 
 #navcontainer {
 	float: center;
 	padding:30px 0 0 0;
 }
 ul#navlist {
 	margin-left: 0;
 	padding-left: 0;
 	white-space: nowrap;
 }
 #navlist li {
 	display: inline;
 	list-style-type: none;
 }
 #navlist a { 
 	padding: 10px 20px;
 	font-size:24px;
 	font-family: 'Anonymous Pro', ;
 	text-decoration:none;
	color:#677a83;	
	text-shadow: 0px 0px, 1px 1px #ffffff;
	color: black;	
	text-shadow: 0px 0px, 1px 1px whitesmoke;
     text-align: center;
 }
 #navlist a:hover {
 	color: #fff;
 	text-decoration: none;
 	text-shadow:none;
 	background: red;
 	border-radius:10px;
 }
 /*#navlist #active a {
 	color: whitesmoke;
 	text-decoration: none;
 	text-shadow:none;
 	background: red;
 	border-radius:10px;
 }*/

@media screen and (max-width: 960px) {
	.container {
		width: 98%;
	}
	.leftList {
		width: 70%;
	}
	.rightList {
		width: 29%;
	}
	.slider {
		width:99.6%;
	}
}


h3 {
color: red;
    font-size: 30px;
}

h4 {
color: red;
    font-size: 30px;
}
        
strong {
        display: block;
        font-size: 50px;
      }
   
    /* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
    color: whitesmoke;
    text-align: center;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
    color: black;
}


section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  background-image: url();
    padding: 40px 0;
    }

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    color: red;
}

section.module.parallax-1 {
  background-image: url(http://pefstem.org/wp-content/uploads/et_temp/twitterbg-63008_960x368.jpg);
    }

section.module.parallax-2 {
  background-image: url(http://s3-us-west-1.amazonaws.com/www-prod-storage.cloud.caltech.edu/styles/article_photo/s3/outreach_with_pusd_app_academy.jpg?itok=kI8UDIUt);
    }

section.module.parallax-3 {
  background-image: url(http://www.mathplusacademy.com/wp-content/uploads/2014/09/coding-national-curriculum-computing.jpg);
    }

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}